/* 1. Use a more-intuitive box-sizing model */
* {
  box-sizing: border-box;
	margin:0;

}
header {
	width:100vw;
	align-items: center;
  justify-content: center;
}
	
.main {
	display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertikal */
}
